.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(10, 1fr);
  width: min(90vw, 600px);
  height: min(90vw, 600px);
  margin-inline: auto;
  border: 1px solid;
  margin-top: 2em;
}

.container + .container {
  margin-bottom: 2em;
}

.cell {
  border: 1px solid;
  display: flex;
}
